<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Job-Board</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="job_advertisement" class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn" routerLink="add" class="nav-link"
          >Create Job Offer</a
        >
      </li>
      <li class="nav-item">
        <a *ngIf="!isLoggedIn" class="nav-link" href="user">Register</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isLoggedIn" class="nav-link" href="sign-in">Sign In</a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn" class="nav-link" href="#" (click)="logOut()"
          >Log Out</a
        >
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn" class="nav-link" href="#">Account</a>
      </li>
    </ul>
  </div>
</nav>
